.menu-title {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    color: white;
    background-color: grey;
}

.away {
    cursor: pointer;
}

.menu-left {
    position: relative;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-right {
    position: relative;
    float: right;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


@media (min-width: 1200px) {
    .menu-open {
        width: 20%;
    }
    .menu-close {
        width: 35px;
    }
}

@media (min-width: 1920px) {
    .menu-open {
        width: 15%;
    }
    .menu-close {
        width: 35px;
    }
}

.middle {
    height: 100%;
    position: relative;
    overflow: hidden;
}
