<script src="/static/js/notify.min.js"></script>
<script src="/static/js/notify-metro.js"></script>
<script src="/static/js/notifications.js"></script>

{{ if .alert }}
    <script type="text/javascript">
        $.Notification.autoHideNotify('info', 'top right', '{{ .alert }}');
        console.log('alert');
    </script>
{{ else if .alertError }}
    <script type="text/javascript">
        $.Notification.autoHideNotify('error', 'top right', '{{ .alertError }}');
    </script>
{{ else if .alertSuccess }}
    <script type="text/javascript">
        $.Notification.autoHideNotify('success', 'top right', '{{ .alertSuccess }}');
    </script>
{{ else if .alertWarning }}
    <script type="text/javascript">
        $.Notification.autoHideNotify('warning', 'top right', '{{ .alertWarning }}');
    </script>
{{ end }}
