<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error {{ .code }}</title>
    </head>
    <body style="text-align:center">
        <h1>Error {{ .code }}</h1>
        <h3>{{ .status }}</h3>
    </body>
</html>
