<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <title>Home</title>
    </head>
    <body>
        {{ template "navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 text-center">
                    <h1>Home Page</h1>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

    </body>
</html>
