<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <link href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet" />
        <link href="/static/css/toggle-menu.css" rel="stylesheet">
        <link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
        <script src="/static/js/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/src-min-noconflict/ext-language_tools.js"></script>
        <style>input.uploader{position:absolute;left:-9999px;}label.uploader{cursor:pointer;}</style>

        <style media="screen">
            .navbar{
                margin-bottom: 0;
            }

            .vakata-context {
                z-index: 4;
            }
        </style>

        <title>{{ .project }}</title>
    </head>
    <body>

        {{ template "navbar-secure.tmpl" . }}

        <div class="menu-left menu-open side" style="border:1px solid black;">
            <div class="away menu-title">
                <div class="content">
                    <div class="pull-right">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <div class="pull-left">
                        {{ .project }}
                    </div>
                </div>
                <div class="alt hide">
                    <i class="fa fa-bars"></i>
                </div>
            </div>

            <div class="content" style="height:90%">
                <div class="row no-marg">
                    <div class="col-lg-4 no-pad">
                        <button id="save" class="btn btn-default no-round btn-block"
                            data-toggle="popover"
                            data-container="body"
                            data-placement="bottom"
                            data-content="Ctrl+S"
                            data-trigger="hover"
                            data-delay="200">
                            Save
                        </button>
                    </div>
                    <div class="col-lg-4 no-pad">
                        <button id="saveAll" class="btn btn-default no-round btn-block"
                            data-toggle="popover"
                            data-container="body"
                            data-placement="bottom"
                            data-content="Ctrl+Shift+S"
                            data-trigger="hover"
                            data-delay="200">
                            Save All
                        </button>
                    </div>
                    <div class="col-lg-4 no-pad">
                        <div class="dropdown">
                            <button id="new" class="btn btn-block btn-default no-round" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                New
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu no-round" aria-labelledby="new">
                                <li><a href="#" id="newFile"
                                    data-toggle="popover"
                                    data-container="body"
                                    data-placement="left"
                                    data-content="Ctrl+Alt+N"
                                    data-trigger="hover"
                                    data-delay="200">
                                    File
                                </a></li>
                                <li><a href="#" id="newFolder"
                                    data-toggle="popover"
                                    data-container="body"
                                    data-placement="left"
                                    data-content="Ctrl+Alt+Shift+N"
                                    data-trigger="hover"
                                    data-delay="200">
                                    Folder
                                </a></li>
                                <li><a href="#" id="newImage"
                                    data-toggle="popover"
                                    data-container="body"
                                    data-placement="left"
                                    data-content="Ctrl+I"
                                    data-trigger="hover"
                                    data-delay="200">
                                    Image
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="scroll">
                    <div id="filetree">

                    </div>
                </div>

            </div>
        </div>

        <div class="menu-right menu-close side"  style="border:1px solid black;">
            <div class="away menu-title">
                <div class="content">
                    <div class="pull-left">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="pull-right">
                        Settings
                    </div>
                </div>

                <div class="alt hide">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
            <div class="content scroll" style="padding:15px;">
                <div class="form-group">
                    <a href="http://{{ .user.Username }}.temp.school.localhost:9999/{{ .project }}" target="_blank" class="btn btn-success btn-sm btn-block">View</a>
                    <!-- <a href="http://{{ .user.Username }}.school.xiphoid24.com/{{ .project }}" target="_blank" class="btn btn-success btn-sm btn-block">View</a> -->
                </div>
                <div class="form-group">
                    <button id="download" class="btn btn-warning btn-block btn-sm">Download</button>
                </div>
                <div class="form-group">
                    <label>Theme</label>
                    <select class="form-control" id="theme">
                        {{ range $theme := .themes }}
                            <option value="ace/theme/{{ $theme }}">{{ pretty $theme }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="form-group">
                    <label>Font Size</label>
                    <input class="form-control" type="number" id="fontSize">
                </div>
                <div class="form-group">
                    <label>Keybindings</label>
                    <select id="keybindings" class="form-control">
                        <option value="ace">Ace</option>
                        <option value="vim">Vim</option>
                        <option value="emacs">Emacs</option>
                    </select>
                </div>
                <div>
                    <button id="reset" class="btn btn-danger btn-sm btn-block">Reset</button>
                </div>
                <button id="together">Start TogetherJS</button>
            </div>
        </div>
        <div class="middle" style="border:1px solid black">
            <div id="fileName" class="text-center menu-title"></div>
            <!-- editor -->
            <div id="editor" style="height:100%"></div>
            <!-- editor -->
        </div>


        {{ template "scripts.tmpl" . }}

        {{ template "session.tmpl" . }}

        <div class="modal fade" id="newFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New File</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="newFileForm">
                            <div class="form-group">
                                <label id="filePath"></label>
                                <input type="text" class="form-control" id="file" name="file">
                            </div>
                            <input id="filePath" type="hidden" name="path">
                        </form>
                        <button class="btn btn-primary btn-block" id="newFile">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New Folder</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="newFolderForm">
                            <div class="form-group">
                                <label id="folderPath"></label>
                                <input type="text" class="form-control" id="folder" name="folder">
                            </div>
                            <input id="folderPath" type="hidden" name="path">
                        </form>
                        <button class="btn btn-primary btn-block" id="newFolder">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Upload Image</h4>
                    </div>
                    <div class="modal-body clearfix">

                        <form id="uploader" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label id="uploadPath"></label>
                                <label class="btn btn-default btn-block uploader" for="file">Select Image</label>
                                <input class="uploader" id="file" type="file" name="file" required>
                            </div>
                            <input id="uploadPath" type="hidden" name="path">
                            <button id="upload" type="button" class="btn btn-block btn-primary" disabled>Upload</button>
                       </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script src="/static/js/upload.js" charset="utf-8"></script>
        <script type="text/javascript">
            var project = '{{ .project }}';
            var sharePre = '#&togetherjs=';

            // var host = 'http://{{ .user.Username }}.school.xiphoid24.com';
            var host = 'http://{{ .user.Username }}.temp.school.localhost:9999';
            uploader.displayError = function(msg) {
                $.Notification.autoHideNotify('error', 'top right', msg);
            }
            uploader.defaultText = 'Select Image';
            uploader.maxSize = 1 * uploader.MB;
            uploader.maxSizeMsg = 'File too large. Max size 1MB'

            $('#uploadModal').on('hidden.bs.modal', function () {
                uploader.reset($('form#uploader'));
            });



            $('button#together').click(function() {
                $.ajax({
                    url: '/project/share/' + project,
                    method: 'POST',
                    success: function(resp) {
                        if (resp.error) {
                            alert('ERROR: ' + resp.output);
                            return
                        }
                        window.location.href = resp.output;
                    },
                    error: function(e, d) {
                        console.log(e);
                        console.log(d);
                    }
                });
            });

            /*function createShare() {
                // var shareUrl = TogetherJS.shareUrl();
                $.ajax({
                    url: '/project/share/' + project,
                    method: 'POST',
                    data: {
                        userId: '{{ .user.Id }}',
                        projectName: project,
                        invites: 'brineryte@gmail.com'
                    },
                    success: function(resp) {
                        if (resp.error) {
                            alert('ERROR: ' + resp.output);
                            return
                        }
                        alert(resp.output);
                        window.history.pushState({}, project, '/project/share/' + project + '/' + resp.shareId);
                        TogetherJS();
                    },
                    error: function(e, d) {
                        console.log(e);
                        console.log(d);
                    }
                });
            }*/

        </script>
        <script src="/static/js/projectView/toggle-menu.js" charset="utf-8"></script>
        <script src="/static/js/projectView/util.js" charset="utf-8"></script>
        <script src="/static/js/projectView/memFile.js" charset="utf-8"></script>
        <script src="/static/js/projectView/main.js" charset="utf-8"></script>
        <script src="/static/js/projectView/jstree.js" charset="utf-8"></script>
        <script src="/static/js/projectView/editor.js" charset="utf-8"></script>
        <script src="/static/js/projectView/settings.js" charset="utf-8"></script>
    </body>
</html>
