<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <link href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet" />
        <link href="/static/css/toggle-menu.css" rel="stylesheet">
        <script src="/static/js/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

        <style media="screen">
            .navbar{
                margin-bottom: 0;
            }

            .vakata-context {
                z-index: 4;
            }
        </style>

        <title>Account</title>
    </head>
    <body>

        {{ template "secure-navbar.tmpl" . }}

        <div class="menu-left menu-open side" style="border:1px solid black;">
            <div class="away menu-title">
                <div class="content">
                    <div class="pull-right">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <div class="pull-left">
                        {{ .project }}
                    </div>
                </div>
                <div class="alt hide">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="content">
                <div class="col-lg-4 menu-item">
                    <button id="save" class="btn btn-default no-round btn-block"
                        data-toggle="popover"
                        data-container="body"
                        data-placement="bottom"
                        data-content="Ctrl+S"
                        data-trigger="hover"
                        data-delay="200">
                        Save
                    </button>
                </div>
                <div class="col-lg-4 menu-item">
                    <button id="saveAll" class="btn btn-default no-round btn-block"
                        data-toggle="popover"
                        data-container="body"
                        data-placement="bottom"
                        data-content="Ctrl+Shift+S"
                        data-trigger="hover"
                        data-delay="200">
                        Save All
                    </button>
                </div>
                <div class="col-lg-4 menu-item">
                    <div class="dropdown">
                        <button id="new" class="btn btn-block btn-default no-round" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            New
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu no-round" aria-labelledby="new">
                            <li><a href="#" id="newFile"
                                data-toggle="popover"
                                data-container="body"
                                data-placement="left"
                                data-content="Ctrl+Alt+N"
                                data-trigger="hover"
                                data-delay="200">
                                File
                            </a></li>
                            <li><a href="#" id="newFolder"
                                data-toggle="popover"
                                data-container="body"
                                data-placement="left"
                                data-content="Ctrl+Alt+Shift+N"
                                data-trigger="hover"
                                data-delay="200">
                                Folder
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div id="filetree">

                </div>
            </div>
        </div>

        <div class="menu-right menu-open side"  style="border:1px solid black;">
            <div class="away menu-title">
                <div class="content">
                    <div class="pull-left">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="pull-right">
                        Settings
                    </div>
                </div>

                <div class="alt hide">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
            <div class="content" style="padding:15px;">
                <div class="form-group">
                    <label>Theme</label>
                    <select class="form-control" id="theme">
                        {{ range $theme := .themes }}
                            <option value="ace/theme/{{ $theme }}">{{ pretty $theme }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="form-group">
                    <label>Font Size</label>
                    <input class="form-control" type="number" id="fontSize">
                </div>
                <div class="form-group">
                    <label>Keybindings</label>
                    <select id="keybindings" class="form-control">
                        <option value="ace">Ace</option>
                        <option value="vim">Vim</option>
                        <option value="emacs">Emacs</option>
                    </select>
                </div>
                <div>
                    <button id="reset" class="btn btn-danger btn-sm btn-block">Reset</button>
                </div>
            </div>
        </div>
        <div class="middle" style="border:1px solid black">
            <div id="fileName" class="text-center menu-title"></div>
            <!-- editor -->
            <div id="editor" style="height:100%"></div>
            <!-- editor -->
        </div>

        {{ template "scripts.tmpl" . }}

        {{ template "session.tmpl" . }}

        <div class="modal fade" id="newFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New File</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form action="/project/{{ .project }}/addFile" method="post">
                            <div class="form-group">
                                <label id="filePath"></label>
                                <input type="text" class="form-control" name="file">
                            </div>
                            <button class="btn btn-primary btn-block">Add</button>
                            <input id="filePath" type="hidden" name="path">
                            <input type="hidden" name="redirect" value="/project/{{ .project }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New Folder</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form action="/project/{{ .project }}/mkdir" method="post">
                            <div class="form-group">
                                <label id="folderPath"></label>
                                <input type="text" class="form-control" name="folder">
                            </div>
                            <button class="btn btn-primary btn-block">Add</button>
                            <input id="folderPath" type="hidden" name="path">
                            <input type="hidden" name="redirect" value="/project/{{ .project }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script type="text/javascript">
            var project = '{{ .project }}';
        </script>
        <script src="/static/js/projectView/toggle-menu.js" charset="utf-8"></script>
        <script src="/static/js/projectView/util.js" charset="utf-8"></script>
        <script src="/static/js/projectView/memFile.js" charset="utf-8"></script>
        <script src="/static/js/projectView/main.js" charset="utf-8"></script>
        <script src="/static/js/projectView/jstree.js" charset="utf-8"></script>
        <script src="/static/js/projectView/editor.js" charset="utf-8"></script>
        <script src="/static/js/projectView/settings.js" charset="utf-8"></script>
    </body>
</html>
