<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <style>
            div.clickable {
                cursor: pointer;
            }
            div.clickable:hover {
                color: white;
                background-color:#000;
                opacity:0.3;
            }
        </style>

        <title>Account</title>
    </head>
    <body>

        {{ template "navbar-secure.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            {{ .user.FirstName }} {{ .user.LastName }}'s Projects
                            <form class="pull-right form-horizontal col-xs-3" action="/project" method="post">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" name="name" placeholder="Project Name">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default">Add</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="panel-body">
                            {{ $user := .user }}
                            {{ range $project := .projects}}
                                <div class="col-lg-2 col-xs-2">
                                    <div class="well well-sm clickable project no-round-bottom" data-url="/project/{{ $project.Name }}">
                                        {{ $project.Name }}<br>
                                        Project Size: {{ $project.Size }}<br>
                                        Number of Files: {{ $project.NumFiles }}
                                    </div>
                                    <div class="col-lg-6 no-pad">
                                        <button class="btn btn-danger btn-xs btn-block btn-bottom-left confirm-action" data-message="Are you sure you would like to delete this project?" data-color="#ff0000" data-url="/project/{{ $project.Name }}/del" data-type="warning">Delete</button>
                                    </div>
                                    <div class="col-lg-6 no-pad">
                                        <a href="http://{{ $user.Username }}.temp.school.localhost:9999/{{ $project.Name }}" target="_blank" class="btn btn-success btn-xs btn-block btn-bottom-right">View</a>
                                        <!-- <a href="http://{{ $user.Username }}.school.xiphoid24.com/{{ $project.Name }}" target="_blank" class="btn btn-success btn-xs btn-block btn-bottom-right">View</a> -->
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <form id="delete-form" class="hide" action="" method="post"></form>

        {{ template "scripts.tmpl" . }}

        {{ template "session.tmpl" . }}

        <script src="/static/js/confirm.js" charset="utf-8"></script>

        <script type="text/javascript">
            $('div.clickable').click(function() {
                window.location.href = this.getAttribute('data-url')
            });

            confirm.yes = function(btn) {
                $('form#delete-form').attr('action', btn.attr('data-url'));
                $('form#delete-form').submit();
            }
        </script>

    </body>
</html>
